body {
    background-color: lightslategray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16pt;
    color: black;
}

h1  {
    background-color: black;
    font-family: 'Starcraft';
    font-size:xx-large;
    color: lightslategray;
}

footer {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18pt;
    color: lightslategray
}

a:link {
    color: red;
}

a:visited {
    color: darkred;
}